{% load static %}
<!DOCTYPE html>
<html>
<head>
 <title>Django | Todolist</title>
 <!--Importing script CDNs-->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 <script src="{% static 'todolist/controller.js' %}"></script> 

 <!-- Importing all CSS files --> 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>

 <h1 style="text-align:center;font-family:verdana;">To-Do LiSt</h1>

 <div class="container">
  <!--<form >-->
    <div class="form-group">
     <input class="form-control" type="text">
    </div>

    <button class="btn btn-success" onclick="addtask()">Add</button>&nbsp;
    <a href="/todo/" class="btn btn-primary">View all Tasks</a>&nbsp;
    <button class="btn btn-danger" onclick="clearfield()">Clear</button> 
  <!--</form><br><br>-->
 </div>
</html>
